{% extends 'monApp/base.html' %}
{% block menu %}
<h1>{{titremenu}}</h1>
{% endblock %}
{% block contenu %}
<a href="{% url 'lst_rys' %}">Retour à la liste des rayons</a>
<h2>{{ ry.nomRayon }}</h2>
<ul>
    <li>Référence rayon : {{ ry.idRayon }} </li>
    <li>Nom rayon : {{ ry.nomRayon }} </li>
</ul>
<div class="card mb-4">
    <div class="card-header bg-primary text-white">
        <h4>Détail du produit</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ ry.nomRayon }}</h5>
        <ul class="list-unstyled">
            <li><strong>Référence :</strong>{{ ry.idRayon }}</li>
            <li><strong>Nom du rayon :</strong>{{ ry.nomRayon }}</li>
        </ul>
        <div class="car-footer text-center">
            <a href="{% url 'ry-chng' ry.idRayon %}" class="btn btn-warning mt-2">Modifier</a>
            <a href="{% url 'dtl_ry' ry.idRayon %}" class="btn btn-danger mt-2">Supprimer</a>
            <a href="{% url 'cntnr-crt' ry.idRayon %}" class="btn btn-success mt-2">Ajouter un produit</a>
            <a href="{% url 'lst_rys'%}" class="btn btn-info mt-2">Retour</a>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header bg-primary text-white">
        <h4>Ce rayon contient <strong> {{total_nb_produit}} </strong> produit(s) pour un total de
        <strong>{{total_rayon|floatformat:2 }} € </strong></h4>
    </div>
    <div class="card-body">
        <div class="row">
        {% if prdts_dt %}
            {% for data in prdts_dt %}
                <div class="col-sm-3">
                    <div class="card mb-2 text-center">
                        <div class="card-header bg-info text-white">
                            <h5 class="card-title">{{ data.produit.intituleProd }}</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>Prix unitaire : {{data.prix_unitaire }} € </li>
                                <li>Quantité : {{data.qte }} </li>
                                <li>Total : {{ data.total_produit}} €</li>
                            </ul>
                <a href="{% url 'dtl_prdt' data.produit.refProd %}" class="btn btn-primary mt-2">Détails</a>
                
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p class="text-muted">Aucun produit trouvé pour cette catégorie.</p>
        {% endif %}
    </div>
</div>
{% endblock %}