{% extends 'monApp/base.html' %}
{% block menu %}
<h1>Liste des statut</h1>
{% endblock %}
{% block contenu %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom Statut</th>
        <th>Nombre de Produits</th>
    </thead>
    <tbody>
        {% for stat in stats %}
        <tr>
            <td><a href="{% url 'dtl_stat' stat.idStatus %}">{{ stat.idStatus }}</a></td>
            <td>{{ stat.nomstat }} </td>
            <td>{{ stat.nb_produits }} </td>
            <td>
                <a href="{% url 'dtl_stat' stat.idStatus %}" class="btn btn-primary mt-2">Détails</a>
                <a href="{% url 'stat-chng' stat.idStatus %}" class="btn btn-warning mt-2">Modifier</a>
                <a href="{% url 'dlt-stat' stat.idStatus %}" class="btn btn-danger mt-2">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
        <a href="{% url 'crt-stat' %}">Créer un nouveau status</a>
    </tbody>
</table>
{% endblock %}