{% extends 'monApp/base.html' %}
{% block menu %}
<h1>Liste des statut</h1>
{% endblock %}
{% block contenu %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom statut</th>
        <th>Nombre de Produits</th>
    </thead>
    <tbody>
        {% for stat in stats %}
        <tr>
            <td><a href="{% url 'dtl_stat' stat.idStatut %}">{{ stat.idStatut }}</a></td>
            <td>{{ stat.libelleStatut }} </td>
            <td>{{ stat.nb_produits }} </td>
            <td>
                <a href="{% url 'dtl_stat' stat.idStatut %}" class="btn btn-primary mt-2">Détails</a>
                <a href="{% url 'stat-chng' stat.idStatut %}" class="btn btn-warning mt-2">Modifier</a>
                <a href="{% url 'dlt-stat' stat.idStatut %}" class="btn btn-danger mt-2">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
        <a href="{% url 'crt-stat' %}">Créer un nouveau status</a>
    </tbody>
</table>
<p class="lead mb-3 ml-0">Rechercher un élément...</p>
<form method="GET" action="">
<input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche"
value="{{ request.GET.search }}">
<button type="submit" class="btn btn-success mt-2">Rechercher</button>
</form>
{% endblock %}