{% extends 'monApp/base.html' %}
{% block menu %}
<h1>Liste des produits</h1>
{% endblock %}
{% block contenu %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom produit</th>
        <th>Prix unitaire</th>
        <th>Date fabrication</th>
        <th>Catégorie</th>
        <th>Statut</th>
    </thead>
    <tbody>
        {% for prdt in prdts %}
        <tr>
            <td><a href="{% url 'dtl_prdt' prdt.refProd %}">{{ prdt.refProd }}</a></td>
            <td>{{ prdt.intituleProd }}</td>
            <td>{{ prdt.prixUnitaireProd }} </td>
            <td>{{ prdt.dateFabProd }} </td>
            <td>{{ prdt.categorie }} </td>
            <td>{{ prdt.status }} </td>
            <td><a href="{% url 'prdt-chng' prdt.RefProd %}">Modifier</a></td>
        </tr>
        {% endfor %}
    </tbody>
    <a href="{% url 'crt-prdt' %}">Créer un nouveau produit</a>
</table>
<p>
    J'ai
    {% if prdts|length < 5 %} peu de {% elif prdts|length < 10 %} quelques {% else %} beaucoup de {% endif %} produits
        préférés. </p>
{% endblock %}