{% extends 'monApp/base.html' %}
{% block menu %}
<h1>Liste des statut</h1>
{% endblock %}
{% block contenu %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom Statut</th>
    </thead>
    <tbody>
        {% for stat in stats %}
        <tr>
            <td><a href="{% url 'dtl_stat' stat.idStatut %}">{{ stat.idStatut }}</a></td>
            <td>{{ stat.libelleStatut }} </td>
            <td><a href="{% url 'stat-chng' stat.idStatut %}">Modifier</a></td>
            <td><a href="{% url 'dlt-stat' stat.idStatut %}">Supprimer</a></td>
        </tr>
        {% endfor %}
        <a href="{% url 'crt-stat' %}">Créer un nouveau status</a>
    </tbody>
</table>
{% endblock %}