{% extends 'monApp/base.html' %}
{% block menu %}
<h1>Liste des catégorie</h1>
{% endblock %}
{% block contenu %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom Catégorie</th>
    </thead>
    <tbody>
        {% for cat in cats %}
        <tr>
            <td><a href="{% url 'dtl_cat' cat.idCat %}">{{ cat.idCat }}</a></td>
            <td>{{ cat.nomCat }} </td>
             <td><a href="{% url 'cat-chng' cat.idCat %}">Modifier</a></td>
             <td><a href="{% url 'dlt-cat' cat.idCat %}">Supprimer</a></td>
            
        </tr>
        {% endfor %}
        <a href="{% url 'crt-cat' %}">Créer une nouvelle catégorie</a>
    </tbody>
</table>
{% endblock %}