{% extends 'monApp/base.html' %}
{% block menu %}
<h1>Liste des rayon</h1>
{% endblock %}
{% block contenu %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom Rayon</th>
    </thead>
    <tbody>
        {% for ry in rys %}
        <tr>
            <td><a href="{% url 'dtl_ry' ry.idRayon %}">{{ ry.idRayon }}</a></td>
            <td>{{ ry.nomRayon }} </td>
            <td><a href="{% url 'ry-chng' ry.idRayon %}">Modifier</a></td>
            <td><a href="{% url 'dlt-ry' ry.idRayon %}">Supprimer</a></td>
        </tr>
        {% endfor %}
        <a href="{% url 'crt-ry' %}">Créer un nouveau rayon</a>
    </tbody>
</table>
{% endblock %}